.navbar-dark .navbar-brand {
    color: #fff;
    margin-left: 10px;
}

.bg-dark {
    background-color: #16324F!important;
}

.gmark{
    font-size: 0.7cm;
}

.bmark{
    font-size: 0.9cm;
    background-color: #1f60a7;
    color: #fff;
    padding-left: 20px;
    
}

.head{
    font-size: 0.5cm;
}
